:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.button {
  padding: 10px 50px;
  background-color: #6a89de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  margin-bottom: 1rem;
  background-color: #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .loading-spinner {
    width: 100px;
    height: 100px;
  }
}

.my-heading {
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .my-heading {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1441px) {
  .my-heading {
    font-size: 2.75rem;
  }
}

.big-button {
  height: 2rem;
  width: 4rem;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .big-button {
    height: 7.5rem;
    width: 10rem;
  }
}

@media screen and (min-width: 1441px) {
  .big-button {
    height: 7.5rem;
    width: 12rem;
  }
}